@import "tailwindcss";

@font-face {
  font-family: 'BW Modelica';
  src: url('/fonts/bw/BwModelica-Medium.otf') format('opentype'),
       url('/fonts/bw/BwModelica-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


html,
body {
  background-color: #000F26; /* Background color as per the design */
  color: white;
  /*  overflow-x: hidden; */
  font-family: "BW Modelica", sans-serif !important;
}

.box {
  max-width: 1600px;
  margin: 0 auto;         
  padding: 10px 15px;     
  border-radius: 8px;      
  /* optional rounded corners */
}

/* Ensure content inside header, footer, and main sections stays aligned */
header, nav, .slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px; /* Adjust for spacing */
}

.simplebar-scrollbar::before {
  background-color: white !important;
}

.simplebar-track.simplebar-vertical {
  background: transparent; /* Optional: scrollbar track */
  width: 2px;
}

.simplebar-track.simplebar-horizontal {
  background: transparent;
  height: 2px;
}

@layer utilities {
  @keyframes slide-progress {
    from {
      transform: scaleX(0);
      transform-origin: left;
    }
    to {
      transform: scaleX(1);
      transform-origin: left;
    }
  }

  .animate-slide-progress {
    animation: slide-progress 4s linear forwards;
    transform-origin: left;
    transform: scaleX(0);
  }
}


/* For large screens, make the header and footer elements spaced properly */
@media screen and (min-width: 768px) {
  header, nav,.slider {
    padding: 15px 30px 15px 40px;
  }
}


/* Full screen height adjustment */
@media (max-width: 768px) {
  body {
    height: 100%;
  }
}

